/* Sticky footer styles
 * ------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 99%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  border-top: 1px solid #dddddd;
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 70px 10px 0;
}
.container .text-muted {
  margin: 10px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.btn-default:active {
  background-color: #ddd;
  border-color: #ddd;
}

/* Game Board Style
-------------------------------------------------- */

.game-board {
  font-size: 30px;
}

.answer-list {
  font-family: 'Inconsolata';
  font-size: 20px;
  margin-top: 5%;
}

.bull {
  float: right;
  padding-right: 10%;
}

.cow {
  float: right;
  padding-right: 25%;
}

.answer-board {
  margin-top: 5%;
}

.answer-item {
  font-size: 20px;
}
